body {
  font-family: "Lato", sans-serif;
}

nav a {
  color: #FFFFFF;;
  font-family: "Lato", sans-serif;
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
}

nav a:hover {
  color: #D71812;
}


.menu-bar {
  position: absolute;
  height: 120px;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;

}

.nav {
  position: relative;
  width: 1020px;
  height: 30px;
  left: 545px;
  top: 40px;
  color: #FFFFFF;
}


.top-container {
  position: absolute;
  height: 770px;
  top: 0px;
  width: 100%;
}

.top-container .cover {
  position: absolute;
  height: 500px;
  left: 0px;
  right: 0px;
  top: 0px;

}

.top-container .title {
  position: absolute;
  width: 450px;
  height: 56px;
  left: 100px;
  top: 207px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.2em;

  color: #FFFFFF;

}

.top-container .note {
  position: absolute;
  width: 188px;
  height: 29px;
  left: 100px;
  top: 263px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;

}

.logo-top {
  position: absolute;
  left: 70px;
  top: 15px;
}

.btn-danger {
  background-color: #D71812;
  width: 132px;
  height: 30px;
  color: #FFFFFF;;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-weight: 400;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
}

.btn-danger:hover {
  color: #180C62;
}

li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding-right: 35px;
  justify-content: center;
  color: #FFFFFF;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 72%;
  width: 56.25%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 350px;
  top: 120px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(70px);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */

}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */

}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #D71812;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 30px;
}

.overlay-content .title {
  position: absolute;
  width: 350px;
  height: 98px;
  left: calc(50% - 200px/2 - 296.5px);
  top: 26px;


  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;

  color: #180C62;
}

.overlay-content .about {
  position: absolute;
  width: 288px;
  height: 247px;
  left: 50px;
  top: 130px;
  text-align: left;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  align-self: auto;

  color: rgba(0, 0, 0, 0.6);


}

.overlay-content .enquire {
  position: absolute;
  width: 70px;
  height: 19px;
  left: calc(50% - 70px/2 - 28px);
  top: 130px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #180C62;

}

.overlay-content .connect {
  position: absolute;
  width: 77px;
  height: 19px;
  left: calc(50% - 77px/2 + 234.5px);
  top: 130px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #180C62;

}

.overlay-content .baptism {
  position: absolute;
  width: 51px;
  height: 14px;
  left: calc(50% - 70px/2 - 35.5px);
  top: 165px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .fellowship {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 117px/2 + 247.5px);
  top: 165px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .dedication {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 112px/2 - 14.5px);
  top: 185px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .new {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 100px/2 + 239px);
  top: 185px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .marriage {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 108px/2 - 16.5px);
  top: 205px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .prayer {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 106px/2 + 242px);
  top: 205px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .testimony {
  position: absolute;
  width: 160px;
  height: 14px;
  left: calc(50% - 144px/2 + 261.5px);
  top: 225px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .link {
  position: absolute;
  width: 140px;
  height: 19px;
  left: calc(50% - 100px/2 - 14.5px);
  top: 290px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #180C62;

}

.overlay-content .serve {
  position: absolute;
  width: 48px;
  height: 19px;
  left: calc(50% - 48px/2 + 220px);
  top: 290px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #180C62;

}

.overlay-content .csr {
  position: absolute;
  width: 22px;
  height: 14px;
  left: calc(50% - 22px/2 - 60px);
  top: 325px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .baptismal {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 104px/2 + 241px);
  top: 325px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .location {
  position: absolute;
  width: 60px;
  height: 14px;
  left: calc(50% - 60px/2 - 40px);
  top: 345px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .believers {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 99px/2 + 238.5px);
  top: 345px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .workers {
  position: absolute;
  width: 180px;
  height: 11px;
  left: calc(50% - 135px/2 + 257.5px);
  top: 365px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.wedding {
  position: absolute;
  height: 900px;
  left: 0px;
  right: 0px;
  top: 500px;
}

.wedding .title {
  position: absolute;
  width: 450px;
  height: 30px;
  left: calc(50% - 415px/2);
  top: 130px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.2em;

  color: #180C62;

}

.wedding .line {
  position: absolute;
  width: 1100px;
  height: 0.05px;
  left: 260px;
  top: 140px;
}

.wedding .note1 {
  position: absolute;
  width: 680px;
  height: 602px;
  left: calc(50% - 690px/2 - 180px);
  top: 187px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}


.wedding .flier {
  position: absolute;
  width: 328.44px;
  height: 297px;
  left: 1015px;
  top: 257px;

}

footer {
  position: absolute;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 1720px;
  background-color: #180c62;
}

footer .logo {
  position: absolute;
  width: 178px;
  height: 50.73px;
  right: 100px;
  bottom: 10px;
}

footer .twitter {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 787.81px;
  top: 30px;
}

footer .facebook {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 709px;
  top:30px;
}

footer .instagram {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 866.62px;
  top:30px;
}



footer .copyright {
  position: absolute;
  width: 350px;
  height: 15px;
  left: 85px;
  top: 33px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;

  color: #FFFFFF;

}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: 0.3rem;
    padding: 0;
  }
}
