* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

nav a {
  color:  #FFFFFF;
  font-family: "Lato", sans-serif;
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
}

nav a:hover {
  color: #D71812;
}


.menu-bar {
  position: absolute;
  height: 120px;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: rgba(24, 12, 98, 0.6);
  width: 100%;
}

.nav {
  position: relative;
  width: 1020px;
  height: 30px;
  left: 500px;
  top: 40px;
}


.top-container {
  position: absolute;
  height: 770px;
  top: 0px;
  width: 100%;
}

.logo-top {
  position: absolute;
  left: 70px;
  top: 15px;
}

li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding-right: 35px;
  justify-content: center;
  color: #FFFFFF;
}

.top-container .carousel-inner {
  position: relative;
  height: 770px;
  left: 0px;
  right: 0px;
  width: 100%;
}


.btn-danger {
  background-color: #D71812;
  width: 132px;
  height: 30px;
  color: #FFFFFF;;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-weight: 400;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
}

.btn-danger:hover {
  color: #180C62;
}

.socials {
  position: absolute;
  width: 224px;
  height: 28.64px;
  left: calc(50% - 224px/2);
  top: 705px;
}

.socials .facebook {
  position: absolute;
  width: 30px;
  height: 28.64px;
  left: 0px;
  top: 0px;
}

.socials .twitter {
  position: absolute;
  width: 30px;
  height: 28.64px;
  left: 97px;
  top: 0px;
}

.socials .instagram {
  position: absolute;
  width: 30px;
  height: 28.64px;
  left: 194px;
  top: 0px;
}


.socials:hover {
color: #D71812;
}


.our-services {
  position: absolute;
  width: 1600px;
  height: 1915px;
  left: calc(50% - 1601px/2 - 0.5px);
  top: 700px;
}

.our-services .title {
  position: relative;
  width: 350px;
  height: 30px;
  left: 676px;
  top: 154px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;

  color: #180C62;


}

.our-services .line {
  position: relative;
  width: 1100px;
  height: 0px;
  left: 245px;
  top: 138px;
}

.our-services .sunday-service {
  position: absolute;
  width: 490.65px;
  height: 328.15px;
  left: 248.44px;
  top: 240px;

}

.our-services .scriptures {
  position: absolute;
  width: 240px;
  height: 52.12px;
  left: 370px;
  top: 587.47px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 15.0969px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.our-services .note {
  position: absolute;
  width: 480px;
  height: 22.2px;
  left: 295.61px;
  top: 638.63px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 16.984px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}


.our-services .thanksgiving-service {
  position: absolute;
  width: 490.65px;
  height: 327.83px;
  left: calc(50% - 490.65px/2 + 302.8px);
  top: 240px;
}

.our-services .thanksgiving-scriptures {
  position: absolute;
  width: 361px;
  height: 72.32px;
  left: calc(50% - 403.84px/2 + 318.8px);
  top: 586.17px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 399.8;
  font-size: 15.0969px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.our-services .thanksgiving-note {
position: absolute;
width: 540px;
height: 22.18px;
left: calc(50% - 512.35px/2 + 315px);
top: 656px;

font-family: 'Dosis';
font-style: normal;
font-weight: 400;
font-size: 16.984px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
}

.our-services .digging-deep {
  position: absolute;
  width: 490.65px;
  height: 320.81px;
  left: calc(50% - 490.65px/2 - 306.74px);
  top: 792.92px;
}

.our-services .digging-scriptures {
  position: absolute;
  width: 420px;
  height: 72.65px;
  left: calc(50% - 408.56px/2 - 310.76px);
  top: 1128.83px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 15.0969px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);
}

.our-services .digging-note {

  position: absolute;
  width: 498.2px;
  height: 42px;
  left: calc(50% - 498.2px/2 - 308.4px);
  top: 1203.65px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 16.984px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.our-services .faith-clinic {
  position: absolute;
  width: 490.65px;
  height: 320.81px;
  left: calc(50% - 490.65px/2 + 302.8px);
  top: 792.92px;
}

.our-services .faith-scriptures {
  position: absolute;
  width: 340px;
  height: 72.65px;
  left: calc(50% - 403.84px/2 + 330.14px);
  top: 1128.83px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 15.0969px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.our-services .faith-note {
  position: absolute;
  width: 521.79px;
  height: 42px;
  left: calc(50% - 521.79px/2 + 300.66px);
  top: 1203.65px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 16.984px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.our-services .mercy-at-work {

  position: absolute;
  width: 490.65px;
  height: 319.87px;
  left: calc(50% - 490.65px/2 - 306.74px);
  top: 1385.48px;
}

.our-services .mercy-scriptures {
  position: absolute;
  width: 310.01px;
  height: 72.65px;
  left: calc(50% - 401.01px/2 - 265.32px);
  top: 1724.21px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 15.0969px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.our-services .mercy-note {
  position: absolute;
  width: 474.61px;
  height: 63px;
  left: calc(50% - 474.61px/2 - 307.21px);
  top: 1795.92px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 16.984px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;

}

.our-services .holy-ghost-service {
  position: absolute;
  width: 490.65px;
  height: 319.87px;
  left: calc(50% - 490.65px/2 + 302.8px);
  top: 1385.48px;
}

.our-services .hgs-scriptures {
  position: absolute;
  width: 350.84px;
  height: 53.78px;
  left: calc(50% - 403.84px/2 + 322.08px);
  top: 1724.21px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 15.0969px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}


.our-services .hgs-note {
  position: absolute;
  width: 499.14px;
  height: 42px;
  left: calc(50% - 499.14px/2 + 300.32px);
  top: 1779.22px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 16.984px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;

}

.newsletter {
  position: absolute;
  height: 400px;
  left: 0px;
  right: 0px;
  top: 1950px;
  background-color: #D3D3D3;
}

.newsletter .heading {
  position: relative;
  height: 30px;
  left: 695px;
  right: 677px;
  top: 55px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;

  color: #000000;

}

.newsletter .note {
  position: absolute;
  height: 34px;
  left: 586px;
  right: 586px;
  top: 100px;
  width: 27%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;

}

.box .name {
  position: absolute;
  width: 25%;
  height: 50px;
  left: 600px;
  top: 140px;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.box .email {

  position: absolute;
  width: 25%;
  height: 50px;
  left: 600px;
  top: 210px;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  font-size: 15px;

}

.box .join {
  position: absolute;
  width: 5%;
  height: 50px;
  left: calc(50% - 80px/2);
  top: 285px;
  border-radius: 7px;

}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 72%;
  width: 56.25%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 350px;
  top: 120px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(70px);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: absolute;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */

}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */

}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #D71812;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

.overlay-content .title {
  position: absolute;
  width: 350px;
  height: 98px;
  left: calc(50% - 200px/2 - 296.5px);
  top: 26px;


  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;

  color: #180C62;
}

.overlay-content .about {
  position: absolute;
  width: 300px;
  height: 247px;
  left: 50px;
  top: 130px;
  text-align: left;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  align-self: auto;
  color: rgba(0, 0, 0, 0.6);
}

.overlay-content .enquire {
  position: absolute;
  width: 70px;
  height: 19px;
  left: calc(50% - 70px/2 - 28px);
  top: 130px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #180C62;

}

.overlay-content .connect {
  position: absolute;
  width: 77px;
  height: 19px;
  left: calc(50% - 77px/2 + 234.5px);
  top: 130px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #180C62;

}

.overlay-content .baptism {
  position: absolute;
  width: 51px;
  height: 14px;
  left: calc(50% - 70px/2 - 35.5px);
  top: 165px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .fellowship {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 117px/2 + 247.5px);
  top: 165px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .dedication {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 112px/2 - 14.5px);
  top: 185px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .new {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 100px/2 + 239px);
  top: 185px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .marriage {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 108px/2 - 16.5px);
  top: 205px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .prayer {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 106px/2 + 242px);
  top: 205px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .testimony {
  position: absolute;
  width: 160px;
  height: 14px;
  left: calc(50% - 144px/2 + 261.5px);
  top: 225px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .link {
  position: absolute;
  width: 140px;
  height: 19px;
  left: calc(50% - 100px/2 - 14.5px);
  top: 290px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #180C62;

}

.overlay-content .serve {
  position: absolute;
  width: 48px;
  height: 19px;
  left: calc(50% - 48px/2 + 220px);
  top: 290px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #180C62;

}

.overlay-content .csr {
  position: absolute;
  width: 22px;
  height: 14px;
  left: calc(50% - 22px/2 - 60px);
  top: 325px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .baptismal {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 104px/2 + 241px);
  top: 325px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .location {
  position: absolute;
  width: 60px;
  height: 14px;
  left: calc(50% - 60px/2 - 40px);
  top: 345px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .believers {
  position: absolute;
  width: 140px;
  height: 14px;
  left: calc(50% - 99px/2 + 238.5px);
  top: 345px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}

.overlay-content .workers {
  position: absolute;
  width: 180px;
  height: 11px;
  left: calc(50% - 135px/2 + 257.5px);
  top: 365px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);

}


form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.box {
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 25%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Style the submit button */
input[type=submit] {
  background-color: #180C62;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}


.csr {
  position: absolute;
  height: 300px;
  left: 0px;
  right: 0px;
  top: 2350px;
}

.csr .heading {
  position: relative;
  width: 1100px;
  height: 30px;
  left: 460px;
  top: 65px;

  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;

  color: #000000;

}

.csr .csr-line {
  position: absolute;
  width: 1100px;
  height: 0px;
  left: calc(50% - 1090px/2);
  top: 94px;

}

.csr .note {

  position: relative;
  height: 29px;
  left: 570px;
  right: 0px;
  top: 80px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;

}

.csr .carousel-inner2 {
  position: absolute;
  left: 445px;
  right: 0px;
  width: 45%;
  top: 112px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
  border-radius: 20px;
}

.events {
  position: absolute;
  height: 734px;
  left: 0px;
  right: 0px;
  top: 3150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.events .upcoming {
  position: absolute;
  height: 734px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.events .title {
  position: absolute;
  width: 1100px;
  height: 35px;
  left: 642px;
  top: 53px;
}

.events .line {
  position: absolute;
  width: 300px;
  height: 0px;
  left: 250;
  top: 85px;
}


h3 {
font-size: 16px;
font-weight: bold;
font-family: "Courier", sans-serif;
}

.countdown {
display: flex;
justify-content: space-around;
text-align: center;
}

.days,
.hours,
.minutes,
.seconds {
  font-family: "Courier", sans-serif;
  font-size: 6rem;
  padding: 30px;
}

.double {
width: 40%;
top: 600px;
z-index: 0;
}

.location {
  position: absolute;
  height: 500px;
  left: 0px;
  right: 0px;
  top: 3884px;
}

.location .bg {
  position: absolute;
  height: 500px;
  left: 0px;
  right: 0px;
}

.location .icon {
  position: absolute;
  width: 20px;
  height: 27.2px;
  left: calc(50% - 20px/2 - 648px);
  top: 52px;
}

.location .contact {
  position: absolute;
  width: 500px;
  left: calc(50% - 336px/2 + 420px);
  top: 125px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.location .address {
  position: absolute;
  width: 500px;
  left: calc(50% - 336px/2 + 420px);
  top: 255px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #000000;
}


footer {
  position: absolute;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 4384px;
  background-color: #180c62;
}

footer .logo {
  position: absolute;
  width: 178px;
  height: 50.73px;
  right: 100px;
  bottom: 10px;
}

footer .twitter {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 787.81px;
  top: 30px;
}

footer .facebook {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 709px;
  top:30px;
}

footer .instagram {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 866.62px;
  top:30px;
}



footer .copyright {
  position: absolute;
  width: 350px;
  height: 15px;
  left: 85px;
  top: 33px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;

  color: #FFFFFF;

}


footer  .instagram, .twittter, .facebook:hover {
  color: #D71812;
}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: 0.3rem;
    padding: 0;
  }
}
